/* Custom app styles */ 

/* 
  Colors: 
    Dark Blue: #121B92;
    Blue: #414BC7; 
    Light Blue: #8990E4;
    Orange: #FF9009;
    Light Orange: #FFA537;
    Yellow: #FFE509; 
    
    Red (Team 1 Color): #FF2716;
    Blue (Team 2 Color): #1191A3;
*/

html {
  color: #FFFFFF;
  background-color: #453B40; 
  max-height: 100vh;
  overflow-y: hidden;
}

.row {
  margin-bottom: 5px; 
}

a {
  color: #CE2484;
}

nav {
  background-color: #CE2484;
}

.navbar-text {
  margin-right: 5px; 
}

input {
  color: #FFFFFF;
}

.input-field {
  margin-top: 0; 
}

.team-collection {
  max-height: 150px;
}

.message-box {
  min-height: 67vh; 
  background-color: #FFFFFF;
}

.message-collection {
  max-height: 65vh; 
}

.collection {
  overflow-y: auto; 
}

.collection-item {
  color: #000000; 
}

.btn, .fixed-action-btn {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
}

.colored-z-depth-3 {
  background-color: rgba(255, 247, 0, 0.7);
  -webkit-box-shadow: 0 3px 14px 2px rgba(255, 247, 0, 0.7), 0 -3px 14px 2px rgba(255, 247, 0, 0.7), 0 3px 14px 2px rgba(255, 247, 0, 0.7);
          box-shadow: 0 3px 14px 2px rgba(255, 247, 0, 0.7), 0 -3px 14px 2px rgba(255, 247, 0, 0.7), 0 3px 14px 2px rgba(255, 247, 0, 0.7);
}

.dialog {
  position: absolute; 
  z-index: 100;
  min-width: 90vw; 
  min-height: 80vh; 
  top: 5vh; 
  left: 5vw;
  color: #FFFFFF;
  background-color: #453B40; 
}

.dialog-backdrop {
  position: absolute;
  z-index: 99; 
  width: 100vw;
  height: 100vh; 
  top: 0;
  left: 0; 
  background-color: rgba(0,0,0,0.7);
}

.dialog .row {
  margin-bottom: 20px;
}

.player-zone-col {
  height: 60vh; 
}

.player-zone {
  height: 30%;
  margin-bottom: 10px;
  margin-top: 10px; 
}

.user-zone-col {
  height: 40vh;
}

.user-zone {
  height: 100%;
}

.team-1-color {
  background-color: #FF584B;
}

.team-2-color {
  background-color: #1191A3;
}

.scrolling-card-row {
  width: 80%;
  display: inline-block; 
  position: relative; 
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.card-col {
  display: inline-block; 
  margin: 1.5px;
}

.team-score-roster p {
  margin: 0; 
  font-size: 0.8rem;
}

.team-score .col {
  display: inline-block;
  height: 100%; 
  padding: 0; 
}

.team-score-points p {
  margin: 0;
  font-size: 2rem; 
}

.no-margin-bottom, .no-margin-bottom p {
  margin-bottom: 0; 
}

.dummy-div {
  float: left;
  clear: both;
}

.suit-selection-row img, .suit-selection-row p, .edit-btn {
  cursor: pointer; 
}

.slim-p {
  margin-top: 0; 
  margin-bottom: 5px; 
}

.honor-card-icon {
  height: 55.2375px;
  width: 89.775px; 
}

.played-card-box {
  margin: 0 auto;
}

/* Specific rules to be applied to sm */
@media only screen and (max-width: 600px) {
  /* Card size: width = ceil( height * 0.654 ) */
  .card-img {
    height: 100px;
    width: 62.5px;
  }

  .card-row {
    max-height: 140px; 
  }

  .card-img-small {
    height: 25px;
    width: 16px;
  }

  .honor-card-img {
    height: 73.65px;
    width: 119.7px; 
  }
}

/* Specific rules to be applied to md, lg, ... */
@media only screen and (min-width: 601px) {
  /* Card size: width = ceil( height * 0.654 ) */
  .card-img {
    height: 200px;
    width: 130px;
  }

  .card-row {
    max-height: 240px; 
  }

  .card-img-small {
    height: 66.66px;
    width: 43.29px;
  }

  .honor-card-img {
    height: 110.475px;
    width: 179.55px; 
  }
}