/* Custom app styles */ 

/* 
  Colors: 
    Dark Blue: #121B92;
    Blue: #414BC7; 
    Light Blue: #8990E4;
    Orange: #FF9009;
    Light Orange: #FFA537;
    Yellow: #FFE509; 
    
    Red (Team 1 Color): #FF2716;
    Blue (Team 2 Color): #1191A3;
*/

html {
  color: #FFFFFF;
  background-color: #453B40; 
  max-height: 100vh;
  overflow-y: hidden;
}

.row {
  margin-bottom: 5px; 
}

a {
  color: #CE2484;
}

nav {
  background-color: #CE2484;
}

.navbar-text {
  margin-right: 5px; 
}

input {
  color: #FFFFFF;
}

.input-field {
  margin-top: 0; 
}

.collection {
  max-height: 150px;
  overflow-y: auto;
}

.collection-item {
  color: #000000; 
}

.colored-z-depth-3 {
  -webkit-box-shadow: 0 3px 14px 2px rgba(255, 247, 0, 0.7), 0 -3px 14px 2px rgba(255, 247, 0, 0.7), 0 3px 14px 2px rgba(255, 247, 0, 0.7);
          box-shadow: 0 3px 14px 2px rgba(255, 247, 0, 0.7), 0 -3px 14px 2px rgba(255, 247, 0, 0.7), 0 3px 14px 2px rgba(255, 247, 0, 0.7);
}

.player-zone-col {
  height: 60vh; 
}

.player-zone {
  height: 30%;
  margin-bottom: 10px;
  margin-top: 10px; 
}

.user-zone-col {
  height: 40vh;
}

.user-zone {
  height: 100%;
}

.team-1-color {
  background-color: #FF584B;
}

.team-2-color {
  background-color: #1191A3;
}

.card-row {
  width: 100%; 
}

.card-col {
  display: inline-block; 
  margin: 0 auto; 
}

.team-score-roster p {
  margin: 0; 
  font-size: 0.8rem;
}

.team-score .col {
  display: inline-block;
  height: 100%; 
  padding: 0; 
}

.team-score-points p {
  margin: 0;
  font-size: 2rem; 
}

.no-margin-bottom, .no-margin-bottom p {
  margin-bottom: 0; 
}

.suit-selection-row img, .suit-selection-row p {
  cursor: pointer; 
}

.slim-p {
  margin-top: 0; 
  margin-bottom: 5px; 
}

/* Specific rules to be applied to sm */
@media only screen and (max-width: 600px) {
  /* Card size: width = ceil( height * 0.654 ) */
  .card-img {
    height: 100px;
    width: 62.5px;
  }

  .card-img-small {
    height: 25px;
    width: 16px;
  }

  .honor-card-img {
    height: 73.65px;
    width: 119.7px; 
  }
}

/* Specific rules to be applied to md, lg, ... */
@media only screen and (min-width: 601px) {
  /* Card size: width = ceil( height * 0.654 ) */
  .card-img {
    height: 200px;
    width: 130px;
  }

  .card-img-small {
    height: 66.66px;
    width: 43.29px;
  }

  .honor-card-img {
    height: 110.475px;
    width: 179.55px; 
  }
}